@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.925rem;
}

/*video section*/
#myVideo {
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -999;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar,
.navbar > .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .navbar,
  .navbar > .container {
    display: block;
  }
}

.navbar {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 1rem 1.15rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /*
  |-----------------------------------
  | Start navbar logo or brand etc..
  |-----------------------------------
  */
  /*
  |-----------------------------------
  | Start navbar menu
  |-----------------------------------
  */
}

@media (min-width: 576px) {
  .navbar .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .navbar .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1140px;
  }
}

.navbar .navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.navbar .navbar-header .navbar-toggler {
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}

@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
  }
}

.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: #929aad;
  display: block;
}

.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}

.navbar .navbar-header > a {
  font-weight: 500;
  color: white;
}

.navbar .navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}

.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #EEE;
    margin-top: 1rem;
  }
}

.navbar .navbar-menu .navbar-nav > li > a {
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}

.navbar .navbar-menu .navbar-nav > li > a:hover {
  color: white;
}

@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav > li > a {
    border-bottom: 1px solid #eceef3;
  }
}

.navbar .navbar-menu .navbar-nav > li.active a {
  color: white;
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
  list-style: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-width: 161px;
  width: auto;
  white-space: nowrap;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  border-radius: 0.75rem;
  display: none;
}

@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
  color: #3c4250;
  padding: 0.25rem 1rem;
  display: block;
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
  display: block !important;
}

.navbar .navbar-menu .navbar-nav .dropdown > .separator {
  height: 1px;
  width: 100%;
  margin-top: 9px;
  margin-bottom: 9px;
  background-color: #eceef3;
}

.navbar .navbar-dropdown {
  position: relative;
}

.navbar .navbar-header > a span {
  color: white;
}

.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
}

.stats {
  height: 18vh;
  font-size: 2rem;
}

.stats .stat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stats i {
  font-size: 3rem;
}

.stats .statdesc {
  font-size: 1rem;
}

.stats .statitem {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  min-width: 150px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5vh;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clip-art {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 105px;
  width: 105px;
  border: solid thin blue;
  border-radius: 50%;
}

.clip-art:hover {
  background-color: grey;
}

.product-desc {
  width: 450px;
  height: 300px;
  margin: 0 auto;
  overflow: auto;
}

.animateclipart {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.gallery {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (10%)[5];
      grid-template-columns: repeat(5, 10%);
  -ms-grid-rows: (5vw)[7];
      grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem;
}

.gallery__item--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/span 2;
}

.gallery__item--2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/ span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/span 3;
}

.gallery__item--4 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5/span 3;
}

.gallery__item--5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ span 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/span 3;
}

.gallery__item--6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/ span 2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/span 2;
}

.gallery__item--7 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.gallery__item--10 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6/8;
}

.gallery__item--11 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6/8;
}

.gallery__item--12 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6/8;
}

.gallery__img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.gallery_item {
  height: 100%;
  width: 100%;
  background-color: grey;
  overflow: hidden;
}

.gallery__img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*end gallery section*/
.zoomtest {
  text-align: center;
  border: solid thick black;
}

/*start interested container*/
.interested-container {
  height: 30vh;
  width: 100vw;
  background-color: red;
  -webkit-box-shadow: 0px 11px 32px -5px rgba(0, 0, 0, 0.58);
          box-shadow: 0px 11px 32px -5px rgba(0, 0, 0, 0.58);
}

.green-container {
  height: 400px;
  width: 100%;
  background-color: #50C878;
  -webkit-box-shadow: 0px 11px 32px -5px rgba(0, 0, 0, 0.58);
          box-shadow: 0px 11px 32px -5px rgba(0, 0, 0, 0.58);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.green-container h1 {
  text-align: center;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  font-size: 3rem;
  border: solid thin #3c4250;
}

.green-container p {
  text-align: center;
  width: 300px;
  color: white;
  font-family: 'Playfair Display', serif;
  border: solid thin #3c4250;
}

.active {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.sticky {
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 5%;
  right: 5%;
  background-color: green;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  padding-left: 13px;
  padding-top: 13px;
}

.sticky svg {
  width: 40px;
  height: 40px;
}
/*# sourceMappingURL=main.css.map */